* {
    box-sizing: border-box;
    font-family: 'Roboto';
}

body {
    background-color: #e6e6e6;
}

.container header {
    background-color: #339966;
    color: #FFF;
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
    padding-bottom: 5rem;
    padding-left: 2rem;
    line-height: 1rem;
    width: 100%;
    box-shadow: 5px 10px 10px #404040;
}

.container header .form-field {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.container header .form-field button {
    border: none;
    border-radius: 8px;
    height: 2rem;
    margin-left: 2rem;
    color: #262626;
    transition: background-color color 2s;
    cursor: pointer;
}

.container header .form-field button:hover {
    background-color: #e6e6e6;
    color: #0d0d0d;
}

.container main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem;
    margin: -4rem 0 0 0;
    color: #262626;
}

.container main .input {
    background-color: #F0F0F0;
    width: 50%;
    margin: 0 1rem;
    padding: 2rem;
    padding-top: 0;
    border-radius: 8px;
    box-shadow: 5px 10px 10px #404040;
}

.container main .output {
    background-color: #F0F0F0;
    width: 50%;
    margin: 0 1rem;
    padding: 2rem;
    padding-top: 0;
    border-radius: 8px;
    box-shadow: 5px 10px 10px #404040;
}

.container main .text-box {
    background-color: #FFF;
    border-radius: 8px;
    padding: 1rem;
    line-height: 1rem;
    overflow: auto;
    height: 28rem;
}